*{
    -fx-font-family: "Comic Sans MS";
}

.window {
    -fx-spacing: 10px;
}

HBox{
    -fx-spacing: 2px;
}

Button, ChoiceBox{
    -fx-background-color: #cccc99;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #111;
    -fx-text-fill: #111;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
}

ChoiceBox{
    -fx-pref-width: 300px;
}

Button:hover, ChoiceBox:hover {
    -fx-background-color: #bbbb77;
}

#menuButtonsBox{
    -fx-alignment: center;
}

#playButtonsBox{
    -fx-alignment: top_right;
    -fx-padding: 0 20px;
}

#playButtonsBox Button{
    -fx-padding: 0;
}

#infoBox{
    -fx-alignment: center;
}

#canvasPane{
    -fx-pref-height: 1000px;
    -fx-pref-width: 4000px;
    -fx-background-color: #cccc99;
}

#aboutTextField{
    -fx-text-alignment: center;
}